<!doctype html>
<!--[if lt IE 7]><html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if (IE 7)&!(IEMobile)]><html class="no-js lt-ie9 lt-ie8" lang="en"><![endif]-->
<!--[if (IE 8)&!(IEMobile)]><html class="no-js lt-ie9" lang="en"><![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"><!--<![endif]-->
<head>
{% include head.html %}
</head>

<body id="page">


<div id="main" role="main">

<section>
  {% include navigation.html %}

  <div id="toDown" class="col-md-12 animated fadeInDown">
                <a href="#1part"><i class="fa fa-angle-down fa-2x blood "></i></a>
  </div>

</section>



<section>

    <div class="banner-thumbnail-wrapper has-description" data-content-field="main-image">
      <div class="color-overlay"></div>
      <figure id="thumbnail" class="loading content-fill" >
        <img id="1part" src="/images/coffee.jpg" alt="" style="background-repeat: repeat; background-size: 100%">
      </figure>
      <div class="desc-wrapper">
        <p><strong>My Recent Work</strong></p>
        <p>UX&nbsp;is an integrated process of design &amp; research</p>
      </div>
    </div>

</section>

<section>
  <div class="row text-center">
                <div class="col-lg-10 col-lg-offset-1">
                    <hr class="small">
                    <h2></h2>
                    <hr style="max-width: 200px">
                    <div class="row">
                        <div class="col-md-3 col-sm-6">
                            <div class="service-item">
                                <span class="fa-stack fa-4x">
                                  <img src="/images/paper.png" alt="">
                            </span>
                                <h4>
                                    <strong>Service Name</strong>
                                </h4>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                                <a href="#" class="btn btn-light">Learn More</a>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-6">
                            <div class="service-item">
                                <span class="fa-stack fa-4x">
                                <i class="fa fa-circle fa-stack-2x"></i>
                                <i class="fa fa-compass fa-stack-1x text-primary"></i>
                            </span>
                                <h4>
                                    <strong>Service Name</strong>
                                </h4>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                                <a href="#" class="btn btn-light">Learn More</a>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-6">
                            <div class="service-item">
                                <span class="fa-stack fa-4x">
                                <i class="fa fa-circle fa-stack-2x"></i>
                                <i class="fa fa-flask fa-stack-1x text-primary"></i>
                            </span>
                                <h4>
                                    <strong>Service Name</strong>
                                </h4>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                                <a href="#" class="btn btn-light">Learn More</a>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-6">
                            <div class="service-item">
                                <span class="fa-stack fa-4x">
                                <i class="fa fa-circle fa-stack-2x"></i>
                                <i class="fa fa-shield fa-stack-1x text-primary"></i>
                            </span>
                                <h4>
                                    <strong>Service Name</strong>
                                </h4>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                                <a href="#" class="btn btn-light">Learn More</a>
                            </div>
                        </div>
                    </div>
                    <!-- /.row (nested) -->
                </div>
                <!-- /.col-lg-10 -->
            </div>
            <!-- /.row -->
</section>

<section>
  <div class="row photos-wrap">

                        <div class="col-xs-12 col-sm-6 col-md-4">
                            <div class="photo-box">
                                <div class="image-wrap">
                                    <a href="wex.html">
                                    <img src="http://placehold.it/600x300.jpg" onmouseover="this.src='images/thumbnail-wex-hover.jpg'" onmouseout="this.src='images/thumbnail-wex.jpg'" ></a>
                                </div>

                                <div class="project-description">
                                    IBM Watson Explorer
                                    <div class="project-type">
                                        Web Interaction + UX Design
                                    </div>
                                </div>

                            </div>
                        </div>

                        <div class="col-xs-12 col-sm-6 col-md-4">
                            <div class="photo-box">
                                <div class="image-wrap">
                                    <a href="wks.html">
                                    <img src="http://placehold.it/600x300.jpg" onmouseover="this.src='images/thumbnail-wks-hover.jpg'" onmouseout="this.src='images/thumbnail-wks.jpg'" ></a>
                                </div>

                                <div class="project-description">
                                    IBM Watson Knowledge Studio
                                    <div class="project-type">
                                        Web UX + Visual Design
                                    </div>
                                </div>

                            </div>
                        </div>

                        <div class="col-xs-12 col-sm-6 col-md-4">
                            <div class="photo-box">
                                <div class="image-wrap">
                                    <a href="panabee.html">
                                    <img src="http://placehold.it/600x300.jpg" onmouseover="this.src='images/thumbnail-panabee-hover.jpg'" onmouseout="this.src='images/thumbnail-panabee.jpg'" ></a>

                                </div>

                                 <div class="project-description">
                                    Panabee
                                    <div class="project-type">
                                        iOS Game Graphic Design
                                    </div>
                                </div>

                            </div>
                        </div>

                        <div class="col-xs-12 col-sm-6 col-md-4">
                            <div class="photo-box">
                                <div class="image-wrap">
                                    <a href="bofa.html">
                                    <img src="http://placehold.it/600x300.jpg" onmouseover="this.src='images/thumbnail-bofa-hover.jpg'" onmouseout="this.src='images/thumbnail-bofa.jpg'" ></a>
                                </div>

                                 <div class="project-description">
                                    Bank of America Web Redesign
                                    <div class="project-type">
                                        User Research + Product Design
                                    </div>
                                </div>

                            </div>
                        </div>







  </div>
                
</section>








<section id="work">

    <div class="banner-thumbnail-wrapper has-description" data-content-field="main-image">
      <div class="desc-wrapper">

        <div style="width: 75%; margin: 20px auto;">
        <figure class="third">
           
            <a href="http://placehold.it/320x240.jpg"><img src="http://placehold.it/600x300.jpg" alt="image" /></a>
            <a href="http://placehold.it/320x240.jpg"><img src="http://placehold.it/600x300.jpg" alt="image" /></a>
            <a href="http://placehold.it/320x240.jpg"><img src="http://placehold.it/600x300.jpg" alt="image" /></a>
            <a href="http://placehold.it/320x240.jpg"><img src="http://placehold.it/600x300.jpg" alt="image" /></a>
            <a href="http://placehold.it/320x240.jpg"><img src="http://placehold.it/600x300.jpg" alt="image" /></a>
            <a href="http://placehold.it/320x240.jpg"><img src="http://placehold.it/600x300.jpg" alt="image" /></a>
        </figure>
        </div>
      </div>
    </div>

</section>





  <article class="homeentry">
    {% if page.image.feature %}
    <img src="{{ site.url }}/images/{{ page.image.feature }}" class="entry-feature-image" alt="{{ page.title }}" style="margin-top:0;">
    
    {% if page.image.credit %}<p class="image-credit">Photo Credit: <a href="{{ page.image.creditlink }}">{{ page.image.credit }}</a>
    {% endif %}

    {% endif %}

      <header class="entry-header">
        <h1 class="entry-title">{% if page.headline %}{{ page.headline }}{% else %}{{ page.title }}</h1>{% endif %}
      </header>
    <div class="entry-wrapper">

      <div class="entry-content">

        {{ content }}
      
      </div><!-- /.entry-content -->
    </div><!-- /.entry-wrapper -->
  </article>

</div><!-- /#main -->
<!-- <a href=""><i id="toTop" class="fa fa-angle-double-up fa-4x"></i></a> -->

<div class="footer-wrapper">
  <footer role="contentinfo" class="entry-wrapper">
    {% include footer.html %}
  </footer>
</div><!-- /.footer-wrapper -->


{% include scripts.html %}          

</body>
</html>